<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid" id="documents">

            <h2 class="form-signin-heading">Add blog article</h2>

            <div ng-controller="AddBlogArticleController as addBlogArticle">
                <form class="form-add-people">
                    <label for="inputTitle">Title:</label>
                    <input class="form-control" type="text" name="Title" ng-model="addBlogArticle.addBlogArticleForm.title"> <br/>

                    <label for="inputContent">Content:</label>
                    <textarea class="form-control" rows="20" cols="100" name="Content" ng-model="addBlogArticle.addBlogArticleForm.content"></textarea>

                    <button class="btn btn-lg btn-primary" ng-click="addBlogArticle.submitTheForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
