<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid" id="peoples">

            <h2 class="form-signin-heading">Add food menu</h2>

            <div ng-controller="AddFoodMenuController as addFoodMenu">
                <form class="form-add-people">
                    <label for="inputMenu">Menu:</label>
                    <input class="form-control" type="text" name="Menu" ng-model="addFoodMenu.addFoodMenuForm.menu"> <br/>

                    <label for="inputPrice">Price:</label>
                    <input class="form-control" type="text" name="Price" ng-model="addFoodMenu.addFoodMenuForm.price"> <br/>

                    <label for="inputDate">Date:</label>
                    <input class="form-control" type="text" name="Date" ng-model="addFoodMenu.addFoodMenuForm.date" data-dateformat="yy-mm-dd" id="menu-datepicker"> <br/>

                    <button class="btn btn-lg btn-primary" ng-click="addFoodMenu.submitTheForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
