<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid" id="peoples">
            
            <h2 class="form-signin-heading">Add department</h2>

            <div ng-controller="AddDepartmentController as addDepartment">
                <form class="form-add-people" name="addDepartmentForm">
                    <label for="inputName">Name:</label>   
                    <span style="color:red" ng-show="addDepartmentForm.name.$invalid">
                        <br /> <span ng-show="addDepartmentForm.name.$error.required">Name is required.</span> 
                    </span>       
                    <input class="form-control" type="text" name="name" ng-model="addDepartment.addDepartmentForm.name" required> <br/>

                    <label for="inputDescription">Description:</label>     
                    <span style="color:red" ng-show="addDepartmentForm.description.$invalid">
                        <br /> <span ng-show="addDepartmentForm.description.$error.required">Description is required.</span> 
                    </span>      
                    <textarea class="form-control" type="text" name="description" ng-model="addDepartment.addDepartmentForm.description" required> </textarea> <br/>

                    <label for="inputDepartmentHead">Department head:</label>    
                    <!-- <span style="color:red" ng-show="addDepartmentForm.departmentHead.$invalid">
                        <br /> <span ng-show="addDepartmentForm.departmentHead.$error.required">Department head is required.</span> 
                    </span>  -->  
                    <select class="form-control" name="departmentHead" ng-model="addDepartment.addDepartmentForm.departmentHead">
                        <option ng-repeat="people in peoples" ng-value="{{ people.id }}">{{ people.firstName + ' ' + people.lastName }}</option>
                    </select> <br/>

                    <button class="btn btn-lg btn-primary" ng-click="addDepartment.submitTheForm()" ng-disabled="addDepartmentForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>