<!-- Delete blog popup -->
<div id="#openModal" class="modalDialog delete-blog">
    <div class="content">
        <span title="Close" class="close" ng-controller="PopupMessageController as popupMessage" ng-click="popupMessage.hidePopupMessage();">X</span>
        <h2></h2>
        <p></p>
        <button class="ok" ng-controller="BlogsListController as blogs" ng-click="blogs.deleteBlog();">OK</button>
        <button class="cancel" ng-controller="PopupMessageController as popupMessage" ng-click="popupMessage.hidePopupMessage();">Cancel</button>
    </div>
</div>

<div id="wrapper">
	<div id="page-wrapper" ng-controller="BlogsListController as blogsList">
		<div class="search" ng-show="blogsList.getBlogsList().length != 0">
			<label for="searchBlog">Search by blog title:</label>
			<input type="text" ng-model="search.title" class="form-control">
		</div>

		<div id="page_content_inner">
			<div class="md-card-list-wrapper" id="mailbox">
				<div class="uk-width-large-8-10 uk-container-center">
					<div class="md-card-list">
						<div class="md-card-list-header heading_list" ng-show="blogsList.getBlogsList().length != 0">Blogs list</div>
						<div ng-if="blogsList.getBlogsList().length == 0">
							<span ng-bind-html="blogsList.showGrayBox('<span>There are no blogs.</span>', '<span>Go to \'Add blog\' to add a blog.</span>')"></span>
						</div>
						<ul>
							<li ng-repeat="blog in blogsList.getBlogsList() | filter:search">
								<!-- <a ng-href="#document/{{document.id}}"> -->
									<span class="list-entry">
										<span class="md-card-list-item-date"> </span>
										<div class="md-card-list-item-avatar-wrapper">
											<span class="md-card-list-item-avatar md-bg-light-green"> {{ blog.nr }} </span>
										</div>
										<div class="md-card-list-item-sender">
											<span> {{ blog.title }} </span>
										</div>
										<div class="md-card-list-item-subject">
											<div class="md-card-list-item-sender-small">
												<span></span>
											</div>
											<span></span>
										</div>
										<div class="md-card-list-item-subject action">
	                    <span ng-click="blogsList.goBlogDescription(blog.id)">Description</span>
	                    <span ng-click="blogsList.goEditBlog(blog.id)">Edit</span>
	                    <span ng-click="blogsList.showDeleteBlogPopup(blog.id, blog.title)">Delete</span>
	                  </div>
									</span>
								<!-- </a> -->
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
