<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid" id="peoples">
            
            <h2 class="form-signin-heading">Change password</h2>

            <div ng-controller="ChangePasswordController as changePassword">
                <form class="form-add-people" name="changePasswordForm">
                    <label for="old-password">Old password:</label> 			
                    <input class="form-control" type="password" name="old-password" ng-model="changePassword.changePasswordForm.oldPassword"> <br/>
                    <label class="invalid-login" ng-show="changePassword.invalidPassword">
                        Invalid password!
                    </label>

                    <label for="new-password">New password:</label>  
                    <input class="form-control" type="password" name="new-password" ng-model="changePassword.changePasswordForm.newPassword"> <br/> 

                    <label for="new-password">Repeat new password:</label>  
                    <input class="form-control" type="password" name="repeat-new-password" ng-model="changePassword.changePasswordForm.repeatPassword"> <br/> 
                    <label class="invalid-login" ng-show="changePassword.changePasswordForm.newPassword != changePassword.changePasswordForm.repeatPassword">
                        "Repeat new password" field must be the same with the "New password" field!
                    </label>

                    <button class="btn btn-lg btn-primary" ng-click="changePassword.submitTheForm()" ng-disabled="changePassword.changePasswordForm.newPassword != changePassword.changePasswordForm.repeatPassword">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
