<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid" id="peoples">
            
            <h2 class="form-signin-heading">Edit payroll</h2>

            <div ng-controller="AddPayrollController as addPayroll" ng-init="addPayroll.getPayrollInformation()">
                <form class="form-add-people">
                    <label for="inputMonth">Month:</label>
                    <select class="form-control" name="Month" ng-model="addPayroll.addPayrollForm.month">
                        <option ng-value="{{ addPayroll.getCurrentMonth() != 0 ? addPayroll.getCurrentMonth() - 1 : 12 }}" ng-selected="{{ ( addPayroll.getCurrentMonth() != 0 ? addPayroll.getCurrentMonth() - 1 : 12 ) == addPayroll.addPayrollForm.month }}">{{ addPayroll.getCurrentMonth() != 0 ? addPayroll.getCurrentMonth() - 1 : 0 }}</option>
                        <option ng-value="{{ addPayroll.getCurrentMonth() }}" ng-selected="{{ addPayroll.getCurrentMonth() == addPayroll.addPayrollForm.month }}">{{ addPayroll.getCurrentMonth() }}</option>
                        <option ng-value="{{ addPayroll.getCurrentMonth() != 12 ? addPayroll.getCurrentMonth() + 1 : 0 }}" ng-selected="{{ (addPayroll.getCurrentMonth() != 12 ? addPayroll.getCurrentMonth() + 1 : 0) == addPayroll.addPayrollForm.month }}">{{ addPayroll.getCurrentMonth() != 12 ? addPayroll.getCurrentMonth() + 1 : 0 }}</option>
                    </select> 

                    <label for="inputMonth">Year:</label>
                    <select class="form-control" name="Year" ng-model="addPayroll.addPayrollForm.year">
                        <option ng-value="{{ addPayroll.getCurrentYear() - 1 }}" ng-selected="{{ ( addPayroll.getCurrentYear() - 1 ) == addPayroll.addPayrollForm.year }}">{{ addPayroll.getCurrentYear() - 1}}</option>
                        <option ng-value="{{ addPayroll.getCurrentYear() }}" ng-selected="{{ addPayroll.getCurrentYear() == addPayroll.addPayrollForm.year }}">{{ addPayroll.getCurrentYear() }}</option>
                        <option ng-value="{{ addPayroll.getCurrentYear() + 1 }}" ng-selected="{{ ( addPayroll.getCurrentYear() + 1 ) == addPayroll.addPayrollForm.year }}">{{ addPayroll.getCurrentYear() + 1 }}</option>
                    </select> 

                    <label for="inputWorkedDays">Worked days:</label> 
                    <input class="form-control" name="workedDays" ng-model="addPayroll.addPayrollForm.workedDays"><br>

                    <label for="inputTotaDays">Total days:</label> 
                    <input class="form-control" name="totalDays" ng-model="addPayroll.addPayrollForm.totalDays"><br>

                    <button class="btn btn-lg btn-primary" ng-click="addPayroll.submitTheForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>