<!-- Delete location popup -->
<div id="#openModal" class="modalDialog delete-location">
    <div class="content">
        <span title="Close" class="close" ng-controller="PopupMessageController as popupMessage" ng-click="popupMessage.hidePopupMessage();">X</span>
        <h2></h2>
        <p></p>
        <button class="ok" ng-controller="LocationsListController as locations" ng-click="locations.deleteLocation();">OK</button>
        <button class="cancel" ng-controller="PopupMessageController as popupMessage" ng-click="popupMessage.hidePopupMessage();">Cancel</button>
    </div>
</div>

<div id="wrapper">
	<div id="page-wrapper" ng-controller="LocationsListController as locationsList">
		<div class="search" ng-show="locationsList.getLocationsList().length != 0">
			<label for="searchLocation">Search by location name:</label>
			<input type="text" ng-model="search.name" class="form-control">
		</div>

	 	<div id="page_content_inner">
			<div class="md-card-list-wrapper" id="mailbox">
				<div class="uk-width-large-8-10 uk-container-center">
					<div class="md-card-list">
						<div class="md-card-list-header heading_list" ng-show="locationsList.getLocationsList().length != 0">Locations list</div>
						<div ng-if="locationsList.getLocationsList().length == 0">
							<span ng-bind-html="locationsList.showGrayBox('<span>There are no locations.</span>', '<span>Go to \'Add locations\' to add a location.</span>')"></span>
						</div>
						<ul>
							<li ng-repeat="location in locationsList.getLocationsList() | filter:search">
								<span class="list-entry">
									<div class="md-card-list-item-avatar-wrapper">
										<span class="md-card-list-item-avatar md-bg-light-green"> {{ location.nr }} </span>
									</div>
									<div class="md-card-list-item-sender">
										<span> {{ location.name }} </span>
									</div>
									<div class="md-card-list-item-subject">
										<div class="md-card-list-item-sender-small">
											<!-- <span> {{ team.description }} </span> -->
										</div>
										<!-- <span> {{ team.managerFirstName + ' ' + team.managerLastName }} </span> -->
									</div>
									<div class="md-card-list-item-subject action">
										<span ng-click="locationsList.goEditLocation(location.id)">Edit</span>
										<span ng-click="locationsList.showDeleteLocationPopup(location.id, location.name)">Delete</span>
									</div>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
