<!-- Delete people category popup -->
<div id="#openModal" class="modalDialog delete-people-category">
    <div class="content">
        <span title="Close" class="close" ng-controller="PopupMessageController as popupMessage" ng-click="popupMessage.hidePopupMessage();">X</span>
        <h2></h2>
        <p></p>
        <button class="ok" ng-controller="PeopleCategoriesListController as peopleCategories" ng-click="peopleCategories.deletePeopleCategory();">OK</button>
        <button class="cancel" ng-controller="PopupMessageController as popupMessage" ng-click="popupMessage.hidePopupMessage();">Cancel</button>
    </div>
</div>

<div id="wrapper">
	<div id="page-wrapper" ng-controller="PeopleCategoriesListController as peopleCategories">
		<div class="search" ng-show="peopleCategories.getPeopleCategoriesList().length != 0">
			<label for="searchJob">Search by people category:</label>
			<input type="text" ng-model="search.title" class="form-control">
		</div>

		<div id="page_content_inner">
			<div class="md-card-list-wrapper" id="mailbox">
				<div class="uk-width-large-8-10 uk-container-center">
					<div class="md-card-list">
						<div class="md-card-list-header heading_list" ng-show="peopleCategories.getPeopleCategoriesList().length != 0">People categories</div>
						<div ng-if="peopleCategories.getPeopleCategoriesList().length == 0">
							<span ng-bind-html="peopleCategories.showGrayBox('<span>There are no people categories.</span>', '<span>Go to \'Add people category\' to add a people category.</span>')"></span>
						</div>
						<ul when-scrolled="peoples.getNextPeopleFromList()">
							<li ng-repeat="category in peopleCategories.getPeopleCategoriesList() | filter:search">
									<span class="list-entry">
										<span class="md-card-list-item-date"> {{ people.departmentName }}</span>
										<div class="md-card-list-item-avatar-wrapper">
											<span class="md-card-list-item-avatar md-bg-light-green"> {{ category.nr }} </span>
										</div>
										<div class="md-card-list-item-sender">
											<span> {{ category.title }} </span>
										</div>
										<div class="md-card-list-item-subject">
											<div class="md-card-list-item-sender-small">
												<span> {{ category.title }} </span>
											</div>
											<span> {{ category.description }} </span>
										</div>
										<div class="md-card-list-item-subject action">
											<span ng-click="peopleCategories.goPeopleCategoryDescription(category.id)">Description</span>
											<span ng-click="peopleCategories.goEditPeopleCategory(category.id)">Edit</span>
											<span ng-click="peopleCategories.showDeletePeopleCategoryPopup(category.id, category.title)">Delete</span>
										</div>
									</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
