<popupmessage></popupmessage>
<nav ng-controller="NavigationController as navigation" class="navbar navbar-default navbar-static-top" id="nav" role="navigation" style="margin-bottom: 0" ng-controller="NavigationController as navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Loopevo</a>
    </div>

    <div class="nav navbar-right top-nav" role="navigation">
        <div class="sidebar-nav navbar-collapse not-expanded">
            <ul class="nav" id="side-menu">
               <li class="dropdown">
                  <a href="#add-organization" class="dropdown-toggle hand-cursor" data-toggle="dropdown">Add your organization</a>
               </li>
               <li class="dropdown">
                  <a href="#login" class="dropdown-toggle hand-cursor" data-toggle="dropdown">Login as user</a>
               </li>
               <li class="dropdown">
                  <a href="#organization-login" class="dropdown-toggle hand-cursor" data-toggle="dropdown">Login as organization</a>
               </li>
             </ul>
        </div>
     </div>
</nav>
